/index.html
/*.log
/Multimedia/*.html
/Multimedia/log*
/Multimedia/*.log
/Multimedia/image/*.jpg
/Multimedia/Measured/*
/Multimedia/RestMenu/*.htm
/System/*.htm
/System/*.pyc
/System/Device/*.pyc
/System/Covert/*.json
/System/Covert/*.sqlite
/System/Installer/*.log
