/index.html
/*.log
/Multimedia/*.html
/Multimedia/image/*.jpg
/Multimedia/Measured/*.db
/Multimedia/Measured/*.sqlite
/Multimedia/Measured/*.csv
/Multimedia/Measured/*.txt
/Multimedia/RestMenu/*.htm
/Multimedia/Measured/*
/System/*.htm
/System/*.pyc
/System/Device/*.pyc
/System/Covert/*.json
/System/Covert/*.sqlite
/System/Installer/*.log
