/index.html
/*.log
/Multimedia/*.html
/Multimedia/image/*.jpg
/Multimedia/RestMenu/*.htm
/Multimedia/Weather/*.db
/System/Data/Coverter/*.json
/System/Data/Coverter/*.sqlite
/System/Data/Reader/Directory/*.htm
/System/Installer/*.log
